body {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #dce7f7;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 25px;
    color: #1d3557;
}

.container {
    width: 90%;
    margin: auto;
    margin-top: 30px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.box {
    background: white;
    padding: 20px;
    border: 2px solid #a8c1e8;
    text-align: center;
    border-radius: 10px;
}

.box h2 {
    margin-bottom: 10px;
    color: #1d3557;
}

.box h3 {
    margin-bottom: 15px;
    font-size: 22px;
    color: #457b9d;
}

.box p {
    margin: 6px 0;
    font-size: 15px;
}

button {
    margin-top: 15px;
    padding: 8px 20px;
    background-color: #e63946;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #b72c39;
}